## Estructuras de Datos

1) Crear una lista que contenga nombres de ciudades del mundo que contenga más de 5 elementos e imprimir por pantalla

In [36]:
list_1=['Barranquilla', 'Medellin', 'Vancouver', 'Sydney', 'Barcelona', 'New York']
print(list_1)

['Barranquilla', 'Medellin', 'Vancouver', 'Sydney', 'Barcelona', 'New York']

2) Imprimir por pantalla el segundo elemento de la lista

In [37]:
print(list_1[1])

Medellin

3) Imprimir por pantalla del segundo al cuarto elemento

In [38]:
print(list_1[1:4])

['Medellin', 'Vancouver', 'Sydney']

4) Visualizar el tipo de dato de la lista

In [39]:
type(list_1)

list

5) Visualizar todos los elementos de la lista a partir del tercero de manera genérica, es decir, sin explicitar la posición del último elemento

In [40]:
print(list_1[2:])

['Vancouver', 'Sydney', 'Barcelona', 'New York']

6) Visualizar los primeros 4 elementos de la lista

In [41]:
print(list_1[:4])

['Barranquilla', 'Medellin', 'Vancouver', 'Sydney']

7) Agregar una ciudad más a la lista que ya exista y otra que no ¿Arroja algún tipo de error?

In [42]:
list_1.append('Barranquilla')
list_1.append('Miami')

# There is no error in adding an existing element and a new one

8) Agregar otra ciudad, pero en la cuarta posición

In [43]:
list_1.insert(3, 'Portland')

9) Concatenar otra lista a la ya creada

In [44]:
list_1.extend(['Madrid', 'Bogota'])

In [45]:
print(list_1)

['Barranquilla', 'Medellin', 'Vancouver', 'Portland', 'Sydney', 'Barcelona', 'New York', 'Barranquilla', 'Miami', 'Madrid', 'Bogota']

10) Encontrar el índice de la ciudad que en el punto 7 agregamos duplicada. ¿Se nota alguna particularidad?

In [46]:
print(list_1.index('Barranquilla'))

# The index operation stops when a first element matches the search, and if the list has another equal match, they are not considered.

0

11) ¿Qué pasa si se busca un elemento que no existe?

In [47]:
print(list_1.index('Bucaramanga'))

# A valueError occurs because the element does not exist in the list

ValueError: 'Bucaramanga' is not in list

12) Eliminar un elemento de la lista

In [48]:
list_1.remove('New York')

In [49]:
print(list_1)

['Barranquilla', 'Medellin', 'Vancouver', 'Portland', 'Sydney', 'Barcelona', 'Barranquilla', 'Miami', 'Madrid', 'Bogota']

13) ¿Qué pasa si el elemento a eliminar no existe?

In [50]:
list_1.remove('Texas')

# A valueError occurs because the element does not exist in the list

ValueError: list.remove(x): x not in list

15) Mostrar la lista multiplicada por 4

In [51]:
print(list_1*4)

['Barranquilla', 'Medellin', 'Vancouver', 'Portland', 'Sydney', 'Barcelona', 'Barranquilla', 'Miami', 'Madrid', 'Bogota', 'Barranquilla', 'Medellin', 'Vancouver', 'Portland', 'Sydney', 'Barcelona', 'Barranquilla', 'Miami', 'Madrid', 'Bogota', 'Barranquilla', 'Medellin', 'Vancouver', 'Portland', 'Sydney', 'Barcelona', 'Barranquilla', 'Miami', 'Madrid', 'Bogota', 'Barranquilla', 'Medellin', 'Vancouver', 'Portland', 'Sydney', 'Barcelona', 'Barranquilla', 'Miami', 'Madrid', 'Bogota']

16) Crear una tupla que contenga los números enteros del 1 al 20

In [6]:
#tuple_1=(1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20)
tuple_1=tuple(range(1,21))
print(tuple_1)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20)

17) Imprimir desde el índice 10 al 15 de la tupla

In [53]:
print(tuple_1[10:16])

(11, 12, 13, 14, 15, 16)

14) Extraer el úlimo elemento de la lista, guardarlo en una variable e imprimirlo

In [54]:
print(list_1)
vari_1=list_1.pop()
print(list_1)

['Barranquilla', 'Medellin', 'Vancouver', 'Portland', 'Sydney', 'Barcelona', 'Barranquilla', 'Miami', 'Madrid', 'Bogota']
['Barranquilla', 'Medellin', 'Vancouver', 'Portland', 'Sydney', 'Barcelona', 'Barranquilla', 'Miami', 'Madrid']

In [55]:
print(vari_1)

Bogota

18) Evaluar si los números 20 y 30 están dentro de la tupla

In [56]:
20 and 30 in tuple_1

False

19) Con la lista creada en el punto 1, validar la existencia del elemento 'París' y si no existe, agregarlo. Utilizar una variable e informar lo sucedido.

In [60]:
new='París'
if new in list_1:
    print('"',new,'" is already in the list')
else:
    list_1.append(new)
    print('"', new, '" has been add in the list')

" París " has been add in the list

In [61]:
print(list_1)

['Barranquilla', 'Medellin', 'Vancouver', 'Portland', 'Sydney', 'Barcelona', 'Barranquilla', 'Miami', 'Madrid', 'París']

20) Mostrar la cantidad de veces que se encuentra un elemento específico dentro de la tupla y de la lista

In [62]:
print(list_1.count('Barranquilla'))
print(tuple_1.count(5))

2
1

21) Convertir la tupla en una lista

In [63]:
list_2=list(tuple_1)
print(list_2)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

22) Desempaquetar solo los primeros 3 elementos de la tupla en 3 variables

In [66]:
vari1 , vari2, vari3, _, _, _, _, _, _, _, _, _, _, _, _, _, _, _, _, _ = tuple_1
print('- Element 1:' , vari1 , '- Element 2:' , vari2 , '- Element 3:' , vari3)

- Element 1: 1 - Element 2: 2 - Element 3: 3

In [7]:
vari1 , vari2 , vari3 = tuple_1[:3]
print(vari1, vari2 , vari3 )

1 2 3

23) Crear un diccionario utilizando la lista crada en el punto 1, asignandole la clave "ciudad". Agregar tambien otras claves, como puede ser "Pais" y "Continente".

In [67]:
dicti_1={'ciudad':list_1 , 'País':'elemento1' , 'Continente':'elemento2' }
print(dicti_1)

{'ciudad': ['Barranquilla', 'Medellin', 'Vancouver', 'Portland', 'Sydney', 'Barcelona', 'Barranquilla', 'Miami', 'Madrid', 'París'], 'País': 'elemento1', 'Continente': 'elemento2'}

24) Imprimir las claves del diccionario

In [74]:
print(dicti_1.keys())

dict_keys(['ciudad', 'País', 'Continente'])

25) Imprimir las ciudades a través de su clave

In [75]:
print(dicti_1.get('ciudad'))

['Barranquilla', 'Medellin', 'Vancouver', 'Portland', 'Sydney', 'Barcelona', 'Barranquilla', 'Miami', 'Madrid', 'París']